/src/classification/pointnetpp/data/
/src/classification/pointnetpp/log/
*__pycache__/
/src/densification/sapcu-recursive/data_in/
/src/densification/sapcu-recursive/data_out/
/data/
/src/classification/pointnet2-ubc-semseg/data/
/src/classification/pointnet2-ubc-semseg/log/
